%div
  %img{:src=>"#{site.base_url}/images/migration-1180px.png"}

%div.navbar.navbar-inverse
  %div.navbar-inner
    %div.container
      %ul.nav

        %li.migrNavBtn
          %a{:href=>"/"}Home

        %li.dropdown.migrNavBtn
          %a.dropdown-toggle{:"id"=>"fran_drop", href=>"#", "data-toggle"=>"dropdown"}Learn<b class="caret"></b>
          %ul.dropdown-menu.migrDropdownMenu{:"role"=>"menu", "arialabledby"=>"fran_drop"}
            %li
              %a{:href=>"#{site.base_url}/common/learn.html"}Learn JBoss EAP
            %li.divider
            %li
              %a{:href=>"#{site.base_url}/common/migrationDrivers.html"}Why Migrate?
            %li.divider
            %li
              %a{:href=>"#{site.base_url}/common/migrationPlanning.html"}Migrate Planning Sheet



        %li.migrNavBtn
          %a{:href=>"#{site.base_url}/common/discover.html"}Discover

        %li.dropdown.migrNavBtn
          %a.dropdown-toggle{:"id"=>"fran_drop", href=>"#", "data-toggle"=>"dropdown"}Implement<b class="caret"></b>
          %ul.dropdown-menu.migrDropdownMenu{:"role"=>"menu", "arialabledby"=>"fran_drop"}
            %li
              %a{:href=>"#{site.base_url}/common/implement.html", "role"=>"menuitem"}Implement
            %li.divider
            %li
              %a{:href=>"#{site.base_url}/platforms/eap.html", "role"=>"menuitem"}JBoss EAP
            %li.divider
            %li
              %a{:href=>"#{site.base_url}/platforms/weblogic.html", "role"=>"menuitem"}Oracle WebLogic

