-# Marketing & Metrics
= partial("metrics.html.haml")
%br
%br
= partial( 'footer.html.haml' )

/ Le javascript
/  ================================================== 
/ Placed at the end of the document so the pages load faster 

%script{:src=>"#{site.base_url}/javascripts/jquery.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-transition.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-alert.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-modal.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-dropdown.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-scrollspy.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-tab.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-tooltip.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-popover.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-button.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-collapse.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-carousel.js"}
%script{:src=>"#{site.base_url}/javascripts/bootstrap-typeahead.js"}
%script{:src=>"#{site.base_url}/javascripts/migration.js"}
