!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title JBoss Migration 
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta{:name=>'description', :content=>''}
    %meta{:name=>'author', :content=>''}

    %link{:href=>"#{site.base_url}/assets/css/bootstrap.css", :rel=>"stylesheet"}

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    %link{:href=>"#{site.base_url}/assets/css/bootstrap-responsive.css", :rel=>"stylesheet"}

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body

    .navbar.navbar-inverse.navbar-fixed-top  
      .navbar-inner 
        .container-fluid
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            
          </button>   
          <a class="brand" href="#">JBoss Migration</a>
          <div class="nav-collapse collapse">            
          </div>




    .container
      ~ content
      %hr
      %footer
       
        %p &copy; Organization #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }

      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/jquery.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-transition.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-alert.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-modal.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-dropdown.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-scrollspy.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-tab.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-tooltip.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-popover.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-button.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-collapse.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-carousel.js" }
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/assets/js/bootstrap-typeahead.js" }
      
