!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title JBoss Migration 
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta{:name=>'description', :content=>''}
    %meta{:name=>'author', :content=>''} 
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    %link{:rel=>"shortcut icon", :href=>"#{site.base_url}/images/favicon.ico"}
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    :javascript
      window.jQuery || document.write( '<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"><\/script>' )
      window.jQuery || document.write( '<script src="#{site.base_url}/javascripts/site.js"><\/script>' )
  %body 
    .container
      .row
        .span12
          %img{:src=>"http://static.jboss.org/images/migration/migration-banner-1180px.png"} 
      .row
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %ul.nav 
                %li.migrNavBtn
                  %a{:href=>"#{site.base_url}"}Home 
                %li.dropdown.migrNavBtn
                  %a.dropdown-toggle(id="fran_drop" href="#{site.base_url}/learn" data-target="#" data-toggle="dropdown")
                    Learn
                    %i.caret
                  %ul.dropdown-menu.migrDropdownMenu{:role=>"menu", :"arialabledby"=>"fran_drop"}
                    %li
                      %a{:href=>"#{site.base_url}/learn"}Learn about JBoss EAP
                    %li.divider
                    %li
                      %a{:href=>"#{site.base_url}/migration-drivers"}Why Migrate?
                    %li.divider
                    %li
                      %a{:href=>"#{site.base_url}/migration-planning"}Migrate Planning Sheet 
                %li.migrNavBtn
                  %a{:href=>"#{site.base_url}/discover"}Discover 
                %li.dropdown.migrNavBtn
                  %a.dropdown-toggle(id="fran_drop" href="#{site.base_url}/implement" data-toggle="dropdown" data-target="#")
                    Implement
                    %i.caret
                  %ul.dropdown-menu.migrDropdownMenu{:role=>"menu", :"arialabledby"=>"fran_drop"}                 
                    %li
                      %a{:href=>"#{site.base_url}/platforms/eap", :role=>"menuitem"}JBoss EAP
                    %li.divider
                    %li
                      %a{:href=>"#{site.base_url}/platforms/weblogic", :role=>"menuitem"}Oracle WebLogic Server
                %li.dropdown.migrNavBtn
                  %a.dropdown-toggle(id="fran_drop" data-toggle="dropdown" data-target="#")
                    Contact
                    %i.caret
                  %ul.dropdown-menu.migrDropdownMenu{:role=>"menu", :"arialabledby"=>"fran_drop"}                 
                    %li
                      %a{:href=>"http://webchat.freenode.net/?channels=#jboss-migration", :role=>"menuitem"}IRC
                    %li.divider
                    %li
                      %a{:href=>"https://lists.jboss.org/mailman/listinfo/migration", :role=>"menuitem"}Mail List
      .row
        .span12
          ~ content
      .row
        .span12
          %hr
          %footer 
            %div.redhatlogo{:style=>"text-align:center;"}
              %a{:href=>"http://www.redhat.com/"}
                %img{:src=>"http://static.jboss.org/theme/images/common/redhat_logo.png"}
          %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js' }
          %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-tooltip.js" }
          -# Marketing & Metrics
          = partial("metrics.html.haml")

